{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {%block scripts%} {%endblock%}
    <title>{% block title %} TRELLO-CLONE {% endblock %}</title>
    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
</head>
<body>
        <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                  <div class="container">
                    <a class="navbar-brand mr-4" href="#">Trello Clone</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                      <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="#">Home</a>
                        <a class="nav-item nav-link" href="#">About</a>
                      </div>
                      <!-- Navbar Right Side -->
                      <div class="navbar-nav">
                        {% if request.user.is_authenticated %}
                        <span class="nav-item nav-link"> Welcome {{ request.user.username|title }} </span>
                        <a class="nav-item nav-link" href="#">Logout</a> 
                        {% else %}
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link" href="#">Register</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </nav>
              </header>
    {%block content%}  {%endblock%}
</body>
</html>