<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header delete-header">
                Confirm Delete
            </div>
            <div class="modal-body">
				<p>You are about to delete task - <b><i class="delete-task-title"></i></b></p>
                <p>Do you want to proceed?</p>
                <input type="hidden" id="delete-task-id" name="delete-task"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok confirm-delete-btn">Delete</a>
            </div>
        </div>
    </div>
</div>