{% extends "main.html" %}
{% load staticfiles %}
{% block scripts %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/drag-drop.js' %}"></script>
{% endblock scripts %}

{% block main_content %}
  {% csrf_token %}
  <div class="column-main">
     {% include "first/tasks.html" %}
  </div>
  

{% endblock main_content %}