<div id="mytagmodal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add New Tag</h4>
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                
                <form class="tagForm" id="tag-form" method="post" action="/newtag">
                        {% csrf_token %}
                    <div class="modal-body">
                        <label for="tagTitle">Tag: </label>
                        <input id="tagTitle" name="title" class="form-control" type="text"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
                        <input id="tag-form-submit" type="submit" class="btn btn-primary" value="Add Tag">
                    </div>
                </form>
            </div>
        </div>
</div>